.SingleTop{
    display: block;
    position: absolute;
    bottom:-5px;
    width:110%;
    left:-5%;
    transition:transform 1s ease-out;
    
}
.SingleTop> div > svg{
    width:100%;
    
}

.SingleTop>div>svg:last-of-type{
    position:absolute;
    left:0;
    
}

.riser{

}