.ParallaxContainer{
    overflow:visible;
    height:100vh;
    display:flex;
    flex-direction: column;
    position:relative;
    
}
.BGDayGradient{
    position:absolute;
    z-index:-10;
    background-size:100% 100%;
    width:100%;
    height:100%;
    background:linear-gradient(0deg,rgba(254,168,103,0),rgba(254,168,103,255),rgba(254,168,103,0));
}

.BGNightGradient{
    position:absolute;
    z-index:-10;
    background-size:100% 100%;
    width:100%;
    height:100%;
    background:linear-gradient(0deg,rgba(87,145,151,0),rgba(87,145,151,255),rgba(87,145,151,0));
}