.Sun{
    position:relative;
    width:15vw;
    height:15vw;
    z-index:-15;
    margin:0 auto;
    transition:transform 1.1s ease-out;
    
}

.Sun>svg:last-of-type{
    transition:opacity 1s linear;
    position:absolute;
    left:0;
    
}