
.SingleBtm{
    display: block;
    position: absolute;
    top:-5px;
    width:110%;
    left:-5%;
    overflow:visible;
    transition:transform 1s ease-out;

    
}
.SingleBtm> div > svg{
    width:100%;
    
}


.SingleBtm>div>svg:last-of-type{
    position:absolute;
    left:0;
    top:0;
    
}
